<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<p><%= data_br(Date.today)%></p>
<!--<p><%= Date.today.strftime("%d/%m/%Y") %></p> -->
<%= link_to "Lista de moedas", "/coins" %>